body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; /* Fondo claro */
}

#sidebar-wrapper {
    width: 200px; /* Ancho reducido */
    min-width: 200px; /* Asegura el mínimo ancho */
    height: 100vh;
    background: linear-gradient(90deg, #de4949, #b82020, #800000);
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-x: hidden; /* Evita el scroll horizontal */
}

#sidebar-wrapper h2 {
    font-size: 1.2rem; /* Reduce el tamaño del texto del título */
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
}

.nav-link {
    font-size: 1rem; /* Tamaño más pequeño para los enlaces */
    padding: 8px 10px; /* Ajusta el padding para enlaces más compactos */
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.bi {
    font-size: 1.2rem; /* Reduce el tamaño de los íconos */
    margin-right: 8px;
}

#page-content-wrapper {
    margin-left: 200px; /* Ajusta según el nuevo ancho del sidebar */
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

h1 {
    color: #333;
}

p {
    color: #555;
}
