{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Reconocimiento Facial{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Bloque para CSS adicional específico de cada página -->
    {% block extra_css %}{% endblock %}
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar Component -->
        {% include '_sidebar.html' %}

        <!-- Page Content Wrapper -->
        <div id="page-content-wrapper" class="flex-grow-1">
            {% block content %}
            <!-- El contenido específico de cada página va aquí -->
            {% endblock %}
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bloque para JavaScript adicional específico de cada página -->
    {% block extra_js %}{% endblock %}
</body>

</html>